@font-face {
    font-family: "BebasNeue-Bold";
    font-display: swap;
    src: url("../fonts/BebasNeue-Bold.woff") format("woff"), url("../fonts/BebasNeue-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}