@import "nulling-styles";
@import "fonts";

.sending {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    &__container {
        max-width: 590px;
        width: 100%;
    }
    &__form {
        background: #F8F8F8;
        border: 14px solid #EBEBEB;
    }
}

.form {
    padding: 15px;

    &__column {
        &:last-child {
            margin-top: 10px;
        }
    }

    &__indent_label {
        position: relative;
        
        display: flex;
        align-items: center;

        padding: 21px 28px;
        border: 1px solid #d6e6ec00;
        cursor: pointer;
        transition: background .05s;

        &:hover {
            background: #EBF4F7;
        }
    }
    &__indent_select {
        background:#EBF4F7;
        border: 1px solid #c5e4f0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        opacity: 0;
      }

    label {
        display: flex;
        align-items: center;

        cursor: pointer;
    }

    &__inner_radio {
        position: absolute;
        z-index: -1;
        margin: 13px 0 0 9px;
        opacity: 0;
    }

    &__jackdaw {
        position: relative;
        z-index: 10;

        display: inline-block;
        width: 30px;
        height: 30px;

        margin-right: 19px;
        border: 5px solid #dadada;
        border-radius: 50%;

        &::before {
            content: "";
            position: absolute;
            width: 11px;
            height: 11px;

            border-radius: 50%;
            border: 5px solid #F8F8F8;
            box-shadow: 0 0 0 5px #34648E;
            opacity: 0;
            box-sizing: content-box;
            background: #0294BF;
        }
    }

    &__inner_radio:checked + &__jackdaw::before, &__inner_radio:checked ~ &__indent_select {
        opacity: 1;
    }

    &__text {
        position: relative;
        z-index: 10;

        font-family: "BebasNeue-Bold";
        font-size: 25px;
        color: #787878;
        letter-spacing: .4px;
    }
    &__subtext {
        position: relative;
        z-index: 10;

        margin-left: auto;
        pointer-events: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #9C9C9C;
        font-size: 17px;
    }

    &__option {
        position: relative;
    }

    &__choice {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 30px 0;
        border-top: 1px solid #D5D5D5;
        border-bottom: 1px solid #D5D5D5;

        &_text {
            margin-right: 8px;

            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #2F2F2F;
        }
        select {
            position: relative;
            padding: 7px 35px 7px 5px;

            appearance: none;
            border: 2px solid #a3c0ee;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: 8px;

        margin-top: -3px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid;
        outline: 0;
    }

    &__sum {
        display: flex;
        align-items: center;
        justify-content: center;

        &_title {
            font-family: "BebasNeue-Bold";
            font-size: 30px;
            color: #77797B;
        }
        &_text {
            margin-left: 5px;

            font-family: "BebasNeue-Bold";
            font-size: 30px;
            color: #3388a8;
            &-val {     
                position: relative;
                left: 2px;
                top: -7px;
                font-size: 18px;
                letter-spacing: .8px;
            }
        }
    }

    &__submit_wrap {
        display: flex;
        justify-content: center;
    }

    &__inner {
        margin-top: 28px;

        &_text-plan {
            margin-top: 46px;

            font-family: Arial,Helvetica,sans-serif;
            text-align: center;
            font-size: 19px;
            color: #73acc2;
        }
    }

    &__submit {
        width: 185px;
        height: 50px;
        margin-top: 15px;

        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        background: #33A845;
        border-radius: 24px;
        transition: background .12s;

        &:hover {
            background: #39b14b;
        }
    }
    &__subtext, &__subtext_price, &__text, &__text-license {
        user-select:none;
    }
}